@if (Title == null)
{
    return;
}
@if (Element.Grid.AllowMove)
{
    <div @onmousemove="MovingAsync" @onmousedown="MouseDownAsync" @onmouseup="MouseUpAsync" class="@Element.HeaderClass" style="cursor: move; @Element.HeaderStyle">
        @if(ChildContent != null)
        {
            @ChildContent(Title)
        }
        else
        {
            <Heading Text="@Title" HeadingLevel="Element.Grid.TitleSettings.HeadingLevel" Alignment="Element.Grid.TitleSettings.Alignment" />            
        }        
    </div>
}
else
{
    <div class="@Element.HeaderClass" style="@Element.HeaderStyle">
        @if (ChildContent != null)
        {
            @ChildContent(Title)
        }
        else
        {
            <Heading Text="@Title" HeadingLevel="Element.Grid.TitleSettings.HeadingLevel" Alignment="Element.Grid.TitleSettings.Alignment" />
        }
    </div>
}