@heading(@<text>@Text</text>)

@code {
    [Parameter] public string Text { get; set; }
    [Parameter] public int HeadingLevel { get; set; } = 1;
    [Parameter] public Alignment Alignment { get; set; }
    private RenderFragment<RenderFragment> heading
    {
        get
        {
            var alignment_style = Alignment switch { Alignment.Left => "", Alignment.Right => "margin-left: auto;", _ => "margin-left: auto; margin-right: auto;" };
            const string style = "width: fit-content; user-select: none;";
            return HeadingLevel switch
            {
                1 => (c) => @<h1 style="@style @alignment_style">@c</h1>,
                2 => (c) => @<h2 style="@style @alignment_style">@c</h2>,
                3 => (c) => @<h3 style="@style @alignment_style">@c</h3>,
                4 => (c) => @<h4 style="@style @alignment_style">@c</h4>,
                5 => (c) => @<h5 style="@style @alignment_style">@c</h5>,
                6 => (c) => @<h6 style="@style @alignment_style">@c</h6>,
                _ => (c) => @<h1 style="@style @alignment_style">@c</h1>,
            };
        }
    }
}
